<div class="d-flex justify-content-center">
  <mat-tab-group animationDuration="0ms">
    <mat-tab label="Dataset">
      <ng-template matTabContent>
        <h1>Upload dataset</h1>
        <app-upload [uploadInformation]="datasetInformation"></app-upload>
      </ng-template>
    </mat-tab>
    <mat-tab label="Ground truth">
      <ng-template matTabContent>
        <h1>Upload ground truth values</h1>
        <app-dataset-list class="w-50"></app-dataset-list>
        <app-upload [uploadInformation]="groundTruthInformation"></app-upload>
      </ng-template>
    </mat-tab>
    <mat-tab label="Predictions">
      <ng-template matTabContent>
        <h1>Upload predictions</h1>
        <app-dataset-list class="w-50"></app-dataset-list>
        <app-upload [uploadInformation]="predictionsInformation"></app-upload>
      </ng-template>
    </mat-tab>
    <mat-tab label="Model">
      <ng-template matTabContent>
        <h1>Upload model</h1>
        <app-upload [uploadInformation]="modelInformation"></app-upload>
      </ng-template>
    </mat-tab>
    <mat-tab label="Label map">
      <ng-template matTabContent>
        <h1>Upload label map</h1>
        <app-model-list class="w-50"></app-model-list>
        <app-upload [uploadInformation]="labelMapInformation"></app-upload>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
