.data-container {
  overflow: auto;
  display: grid;
  grid-column-gap: 10px;
  grid-template-rows: auto;
  grid-template-columns: 2fr 8fr 1fr;
}

.image-files {
  grid-row-start: 1;
  grid-column-start: 1;
}

.image {
  max-width: 90vw;
  max-height: 90vh;
  grid-row-start: 1;
  grid-column-start: 2;
}
