.data-container {
  overflow: hidden;
  display: grid;
  grid-column-gap: 10px;
  grid-template-rows: auto;
  grid-template-columns: 0.5fr 9fr 0.5fr;
}

.image-files {
  width: 15vw;
  max-width: 15vw;
  max-height: 90vh;
  grid-row-start: 1;
  grid-column-start: 1;
}

.image {
  max-width: 70vw;
  max-height: 90vh;
  grid-row-start: 1;
  grid-column-start: 2;
}

.toolbox {
  width: 18vw;
  max-width: 18vw;
  max-height: 90vh;
  grid-row-start: 1;
  grid-column-start: 3;
}
