.container {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 20% auto;
}

.image-files {
  grid-row-start: 1;
  grid-column-start: 1;
}

.image {
  grid-row-start: 1;
  grid-column-start: 2;
}
