<div class="form-container">
  <div class="form-signin">
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
    <hr/>
    <form id="loginForm" class="mb-3" [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <div class="form-floating mb-1">
        <input type="text" class="form-control" id="floatingUsername" placeholder="Username" formControlName="username">
        <label for="floatingUsername">Username</label>
      </div>
      <p></p>
      <div class="form-floating mb-2">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password"
               formControlName="password">
        <label for="floatingPassword">Password</label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    </form>
    <p></p>
    <a routerLink="/register" routerLinkActive="active">Don't have an account?</a>
  </div>
</div>
