<div class="form-container">
  <div class="form-register">
    <h1 class="h3 mb-3 fw-normal">Please register</h1>
    <hr/>
    <form id="registerForm" class="mb-3" [formGroup]="registerForm" (ngSubmit)="onRegister()">
      <div class="form-floating mb-1">
        <input type="text" class="form-control" id="floatingUsername" placeholder="Username"
               formControlName="username">
        <label for="floatingUsername">Username</label>
      </div>
      <div class="form-floating mb-1">
        <input type="email" class="form-control" id="floatingEmail" placeholder="name@example.com"
               formControlName="email">
        <label for="floatingEmail">Email address</label>
      </div>
      <div class="form-floating mb-2">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password"
               formControlName="password">
        <label for="floatingPassword">Password</label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Register</button>
    </form>
    <a routerLink="/login" routerLinkActive="active">Back to login</a>
  </div>
</div>
