<form [formGroup]="registerForm" (ngSubmit)="onRegister()">
  <div>
    <label for="username">Username</label>
    <input id="username" name="username" type="text" formControlName="username"/>
  </div>
  <div>
    <label for="email">Email</label>
    <input id="email" type="email" formControlName="email"/>
  </div>
  <div>
    <label for="password">Password</label>
    <input id="password" type="password" formControlName="password"/>
  </div>
  <div>
    <button>Register</button>
  </div>
</form>
