<input #fileUpload class="file-input" type="file"
       [accept]="uploadInformation?.uploadFileEnding"
       onclick="this.value=null"
       (change)="onFileSelected($event)">
<div class="file-upload">
  <button mat-mini-fab color="primary" class="upload-btn"
          (click)="fileUpload.click()">
    <mat-icon>attach_file</mat-icon>
  </button>
  {{fileName || "No file uploaded yet."}}
</div>

<div class="mt-3">
  <button class="btn btn-primary" (click)="upload()" [disabled]="datasetName === '' || fileName === ''">Upload
  </button>
</div>

<div class="progress-div">
  <mat-progress-bar class="progress-bar-animated" mode="determinate" [value]="uploadProgress" *ngIf="uploadProgress">
  </mat-progress-bar>
  <mat-icon class="cancel-upload" (click)="cancelUpload()" *ngIf="uploadProgress">delete_forever</mat-icon>
</div>
